#main {
    background-color: #fffeff;
    margin-bottom: 20px;
    border: 1px
            solid #d5d5d5;
    margin: 10px;
    padding: 10px;
}

#main:hover {
    box-shadow: 2px 2px 5px #d5d5d5;
}


.form-signin {
    padding: 0 20px 20px;
}

.form-signin
            input[type="text"] {
    margin-bottom: 15px;
}

textarea#id_want_say {
    resize: vertical;
    width: 100%;
}

input#id_position {
    max-width: 50%;
}

body {
    background: url(http://ww2.sinaimg.cn/large/bfadf3bejw1e2xme9t93rj.jpg);
}

i {
    margin-right: 5px
}

.navbar-inner img {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.navbar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}

.navbar-brand {
    font-family: 'Spirax', cursive;
    font-size: 22px;
    padding: 1px 1px;
}
