<!DOCTYPE html>
<html lang="zh-CN">
    
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>
            {{ title }}
        </title>
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta name="baidu-site-verification" content="zOQSNgmAoLpOVo8c" />
        <script type="text/javascript">
                        function retun_to() {
                    if (RegExp("^http://www.").test(location.href)) {
                        window.location = location.href.replace(/^http:\/\/www./, "http://");
                    }
                };
                retun_to()
        </script>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Spirax' rel='stylesheet'
        type='text/css'>
        <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"
        type="text/javascript">
                                                                                                                                                                                        
        </script>
        <script src="/static/js/bootstrap.min.js" type="text/javascript">
                                                                                                                                                                                        
        </script>
        <script type="text/javascript">
                                                                                          var _gaq = _gaq || [];
                                                                                  _gaq.push(['_setAccount', 'UA-35427335-1']);
                                                                                  _gaq.push(['_trackPageview']);

                                                                                  (function() {
                                                                                      var ga = document.createElement('script');
                                                                                      ga.type = 'text/javascript';
                                                                                      ga.async = true;
                                                                                      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                                                                      var s = document.getElementsByTagName('script')[0];
                                                                                      s.parentNode.insertBefore(ga, s);
                                                                                  })();
        </script>
        <!--[if lt IE 9]><div style="position:fixed;top:0;left:0;right:0;bottom:0;background:black;z-index:999999999;text-align:center;"><a href="http://www.llavie.com/godarkforie-cn/"><img src="http://www.llavie.com/godarkforie-cn/img/zh-cn.jpg" alt="您正在使用旧版本的Internet Explorer浏览器" /></a></div><![endif]-->
    </head>
    
    <body onbeforeonload="return_to()">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="/" class="navbar-brand">Douwed</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right" id="login">
                            {% if user.is_authenticated%}
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{userdetail.head_img}}" class="img-circle">{{userdetail.user_name}}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/reg">{% if userdetail.want_say %}<i class="icon-edit"></i>修改登记资料</a>
                                    </li>
                                    <li>
                                        <a href="/mine"><i class="icon-user"></i>我的主页</a>
                                    </li>
                                    {% else %}
                                    <i class="icon-plus-sign">
                                    </i>
                                    在豆伴登记{% endif %}
                                    </a></li><li><a class="random visible-phone" href="/random"><i class="icon-random"></i>随机</a></li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="/logout"><i class="icon-signout"></i>登出</a>
                            </li>
                            </ul>
                            </li>
                            {% else %}
                            <i class="icon-signin">
                            </i>
                            <a href=" {% url socialauth_begin 'douban2' %}"><img src="http://img3.douban.com/pics/douban-icons/favicon_24x24.png" alt="使用豆瓣登陆"></a>
                            {% endif %}
                        </ul>
                    </div>
                    <button type="button" class="navbar-toggle pull-right" data-toggle="collapse"
                    data-target=".nav-collapse">
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                    <div class="nav-collapse collapse">
                        <ul class="nav hidden-phone">
                            <li><a class="home" href="/"><i class="icon-home"></i>首页</a></li>
                            <li>
                                <a class="random" href="/random"><i class="icon-random"></i>随机</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span10 push1">
                        <hr />
                    </div>
                    <div class="span6 pull-right text-right">
                        <a href="/about"><i class="icon-info-sign"></i>关于</a>
                        <a href="http://ow.douwed.com"><i class="icon-leaf"></i>博客</a>
                    </div>
                    <div class="span6 pull-left">
                        2013 Copyright © www.douwed.com
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
