{% extends "base.html" %} {% block content %}
<div class="row">
    {% for user in saysList %}{%if user.uid and user.want_say %}
    <div class="span8 push2" id="main">
        <div class="span10 push1">
            {{user.want_say|escape|linebreaks|slice:"800"}}{%if user.want_say|length >= 800%}......
            <br />
            <p class="text-center"><a href="/people/{{user.uid}}/">查看全部</a></p>{%endif%}
            <hr />
            <div class="row-fluid text-center">
                <div id="author" class="span4 push4 text-center">
                    <a href="/people/{{user.uid}}/"><img class="img-circle" src="{{user.head_img}}" alt="{{user.user_name}}"></a>
                    <br />
                    <a href="/people/{{user.uid}}/">{{user.user_name}}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif%}{% endfor %}
</div>
{%if contacts.number%}

<div class="span8 push2 text-center">
        <ul class="pager">
            {% if contacts.has_previous %}
            <li class="previous"><a href="{{ contacts.previous_page_number }}"><i class="icon-arrow-left"></i></a></li>
            {% else %}
            <li class="previous disabled"><a><i class="icon-arrow-left"></i></a></li>
            {%endif%}
            <li><a>{{ contacts.number }}/{{ contacts.paginator.num_pages }}</a></li>
            {% if contacts.has_next %}
            <li class="next"><a href="{{ contacts.next_page_number }}"><i class="icon-arrow-right"></i></a></li>
            {%else%}
            <li class="next disabled"><a><i class="icon-arrow-right"></i></a></li>
            {% endif %}
        </ul>
</div>
{%endif%}

{% endblock %}