{% extends "base.html" %} {% block content %}
<div class="row">
    {% if saysList.want_say %}
    <div class="span8 push2" id="main">
        <div class="span10 push1">
            {{saysList.want_say|escape|linebreaks}}
            <hr />
            <div class="row-fluid text-center">
                <div id="author" class="span4 push4 text-center">
                    <a href="http://www.douban.com/people/{{saysList.uid}}/"><img src="{{saysList.head_img}}" alt="{{saysList.user_name}}"></a>
                    <br />
                    <a href="http://www.douban.com/people/{{saysList.uid}}/">{{saysList.user_name}}的豆瓣<small><i class="icon-external-link"></i></small></a>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="span8 push2 text-center hidden-phone" id="main">
        <div class="row-fluid">
            <button type="button" class="btn btn-info" id="showmore">
                显示ta的读书信息
            </button>
            <script>$("#showmore").click(function() {$("#doubanj").slideToggle()});
            </script>
            <hr />
            <div id="doubanj">
            </div>
            <!-- <iframe id="doubanj" frameborder="0" marginwidth="1%" src="http://www.doubanj.com/people/{{saysList.uid}}/"
            height="500px" width="100%"></iframe> -->
            <script>
            var iframe = document.createElement("iframe");
iframe.src = "http://www.doubanj.com/people/{{saysList.uid}}/";
iframe.frameBorder = 0;
iframe.height = "500px";
iframe.width = "100%";

if (iframe.attachEvent) {
    iframe.attachEvent("onload", function() {
        $("#doubanj").hide();
    });
} else {
    iframe.onload = function() {
        $("#doubanj").hide();
    };
}

document.getElementById("doubanj").appendChild(iframe);
            </script>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}