{% extends "base.html" %}{% block content %}
<div class="row">
    <div class="span8 push2" id="main">
        <form class="form-signin text-center" action="" method="post">
            <h2 class="form-signin-heading">
                在豆伴登记
            </h2>
            {% if errors %}
            <ul>
                {% for error in errors %}
                <li>
                    {{ error }}
                </li>
                {% endfor %}
            </ul>
            {% endif %} {% csrf_token %}
            <p>
                <input id="id_position" type="text" name="position" maxlength="15" placeholder="请输入你的地址  必填"
                value="{{userdetail.position}}">
            </p>
            <p>
                <textarea rows="15" id="id_want_say" name="want_say" placeholder="请输入你想要说的话  必填">{% if userdetail.position %}{{userdetail.want_say}}{%endif%}</textarea>
            </p>
            <p>
            </p>
            <button class="btn btn-large btn-primary" type="submit">
                确认
            </button>
        </form>
    </div>
</div>
{%endblock%}