<!DOCTYPE html>
<html lang="zh-CN">
    
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>
            这个页面需要你登入才能查看
        </title>
        <style>
            body {background: url(http://ww1.sinaimg.cn/large/bfadf3bejw1e2zn23i4rtj.jpg)
            no-repeat center center fixed; -moz-background-size: cover; background-size:
            cover;} .welcome{font-weight: 300; line-height: 22px; color: #EEE; text-shadow:
            #000 0 1px 2px;font-family: 'Helvetica Neue', Arial, sans-serif;font-size:
            1.3em;} h1{font-size: 2em; font-weight: bold;text-rendering: optimizeLegibility;}.douban{font-family:Lucida,Verdana,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}
a.click {
color: #060;
background-color: #E4F2E4;
border: 0.06em solid #071;
padding: 0.333em 0.222em 0.222em 0.333em;
font-size: 1.125em;
text-decoration: none;
border-top-right-radius: 0.1666em;
border-bottom-right-radius: 0.1666em;
}
body{background-color:white}
a.dou {
color: #FFF;
background-color: #071;
border: 0.042em solid #071;
padding: 0px 0 0.125em 0.125em;
font-size: 1.5em;
text-decoration: none;
border-top-left-radius: 0.125em;
border-bottom-left-radius: 0.125em;
}
        </style>
        <script type="text/javascript">
                                        function retun_to() {
                                    if (RegExp("^http://www.").test(location.href)) {
                                        window.location = location.href.replace(/^http:\/\/www./, "http://");
                                    }
                                };
                                retun_to();
        </script>
        <script type="text/javascript">
                                                var _gaq = _gaq || [];
                                        _gaq.push(['_setAccount', 'UA-35427335-1']);
                                        _gaq.push(['_trackPageview']);

                                        (function() {
                                            var ga = document.createElement('script');
                                            ga.type = 'text/javascript';
                                            ga.async = true;
                                            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                            var s = document.getElementsByTagName('script')[0];
                                            s.parentNode.insertBefore(ga, s);
                                        })();
        </script>
    </head>
    
    <body onbeforeonload="return_to()">
        <div class="login">
            <div class="welcome">
            <h1>
                欢迎来到 Douwed。
            </h1>
            <p>
                在这里，找到生命中的另一半。
            </p>
        </div>
            <div class="douban">
                <a href="{% url socialauth_begin 'douban2' %}" class="dou">豆</a><a class="click" href="{% url socialauth_begin 'douban2' %}">用豆瓣账号登入</a>
            </div>
        </div>
    </body>

</html>